[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-writable-nested = "*"
drf-nested-routers = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.10"
